html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FDB829;
    background-image: linear-gradient(to left top, #6699cc, #5a85b7, #4f72a1, #435f8d, #384d78);
    font-variant: small-caps;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-variant: unset;
}

h1:before,
h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #f0f0f0;
}

h1:before {
    left: -.5em;
    margin: 0 0 0 -50%;
}

h1:after {
    left: .5em;
    margin: 0 -50% 0 0;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.4em;
    letter-spacing: normal;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #FDB829;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

h3 {
    font-size: 23px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 1em;
    line-height: 1.55em;
    margin-bottom: 22px;
}

.data-lists {
    height: auto;
}

.row {
    margin: 0 auto;
}

.radios {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

form {
    text-align: center;
    width: 500px;
    margin: 50px auto;
}

.col-8 {
    padding-top: 25px;
}

.search-container {
    margin-top: 35px;
}

input[type="radio"] {
    margin: 0 5px 0 35px;
}

label>input[type="radio"] {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

label>input[type="radio"]+img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

label>input[type="radio"]:checked+img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #FDB829;
    border-radius: 50%;
}

label[for="radio-hospital"] {
    padding-right: 80px;
}

.hospital-logo {
    margin-right: 50px;
}


.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #b0b1b1;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    border-radius: 50%;
    z-index: 1000;
}

.option-input:hover {
    background: #696969;
}

.option-input:checked {
    background: #6699CC;
    border: 10px solid #FDB829;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.8s;
    -moz-animation: click-wave 0.8s;
    animation: click-wave 0.8s;
    background: #FDB829;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.decision-form input[type='text'] {
    height: 35px;
    width: 20em;
    margin-top: 10px;
}

input[type="text"] {
    text-align: center;
    padding: 5px;
    margin-top: 2em;
    border: 3px solid #FDB829;
    background: #3498db;
    color: #FDB829;
}

input[type=text]:focus {
    border: 3px solid #FDB829;
}

input {
    font-family: 'Open Sans', sans-serif;
}

label[for="hospital-search"],
label[for="doctor-search"] {
    line-height: 1.5em;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}


button[type="submit"] {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    margin-top: 20px;
    position: sticky;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    color: #FDB829;
}

button[type="submit"]:hover {
    background-color: #FDB829;
    color: #0B2051;
}

button[type="submit"]:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: #FDB829;
    opacity: 0.4;
    bottom: -30px;
}

.example {
    font-size: 19px;
    color: white;
    font-style: italic;
}

.hospital-list {
    width: 100%;
}


#toTop {
    padding: 5px 3px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    right: 10px;
    display: none;
    text-align: right;
}