html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {    
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {    
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

p {
  display: block;
  font-size: 1.4em;
  line-height: 1.55em;
  margin-bottom: 22px;
  color: #555;
}

a { color: #5a9352; text-decoration: none; }
a:hover { text-decoration: underline; }

.data-lists {
  height: auto;
}

.row {
  margin: 0 auto;
}

form {
  text-align: center;
}

.list-container {

}

.hospital-list {
  width: 100%;
}
.listing {
    text-align: center;
    position: relative;
    width: 100%;
}


footer {
  text-align: center;
  }