html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

h1 {
  text-align: center;
}

#map {
  height: 500px;
}

.row {
  margin: 0 auto;
}

form {
  text-align: center;
}

.list-container {

}

.hospital-list {
  width: 100%;
}
.listing {
    text-align: center;
    position: relative;
    width: 100%;
}


footer {
  text-align: center;
  }